In [1]:
import pandas as pd

In [10]:
labels = pd.read_csv("tests/data/cora/node_list.csv")

In [19]:
edges = pd.read_csv("tests/data/cora/edge_list.csv", header=None)

In [25]:
for i, label in enumerate(labels.values):
    if label == 7:
        print(i)
        break

2707

In [21]:
edges[labels.values[edges[0]] == 7]

IndexError: index 4140 is out of bounds for axis 0 with size 4140

In [32]:
edges[(edges < 2708).all(axis=1)].to_csv("tests/data/cora/edge_list.csv", index=False)

In [23]:
labels.values[edges[0]] == 7

IndexError: index 4140 is out of bounds for axis 0 with size 4140

In [24]:
edges

           0     1
0          0     1
1          0     1
2          0     8
3          0    14
4          0   258
...      ...   ...
108985  4140  1772
108986  4140  1859
108987  4140  1894
108988  4140  2228
108989  4140  2400

[108990 rows x 2 columns]